a{
    color: white;
    text-decoration:none;
   
}
*{
    margin: 0%;
}
    
header{
    height: 300px;
    width: 100%;
    float: left;
    
    
    
}
header img{
    margin-top: 50px;
   margin: 50px;
    margin-left: 7px;
    float: right;
    
   
}
.continer{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
   
    
    
}
nav{
float: right;

}
nav ul{
    margin-top: 30px;
    text-align: center;
    
    
   
}
nav ul li{
    display: inline-block;
    margin: 50px;
}
nav ul li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sectiune_text{
    width: 100%;
    padding: 50px 0px;
}
.sectiune_text h2{
    text-align: left;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: white;
    margin-top: 10px 0px;
    margin-left: 50px;
}
.sectiune_texte p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    text-indent: 35px;
}
.ix h3{
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:white;
text-align: left;
margin-top: 10px 0px;
margin-left: 50px;

}
.ix p{
    margin-left: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.bmw {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 50px;
    
   
}


.film{
    width: 100%;
    height: 563px;
    background-color: white;
   
    text-align: center;
   border: solid chocolate;
   
}
footer{
    width: 100%;
    background-color: white;
    padding: 50px 0px;
}
footer h1{
    text-align: left;
    font-size: 20px;
    text-indent: 35px;
    color: black;

}
.tabel{
    width: 100% ;
    background-color: ivory;
    padding: 60px 0px;
    
}
.tabel table{
    width: 100%;
    background-color:white;
   
   
}
.tabel table th{
    text-align-last: left;
    size: 20px;
    padding: 5px 0px;
    
}
.tabel table tr{
   border-style: solid;
    border-width: 30px;
    border-color: black;
    
}

.tabel table td{
    color:black;
    padding: 7px 0px;
    
    
}
.sectiune_text h4{
    text-align: left;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: white;
    margin-top: 10px 0px;
    margin-left: 50px;
}
.sectiune_text h3{
    text-align: left;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: white;
    margin-top: 10px 0px;
    margin-left: 50px;
}
footer  h3{
    text-align: left;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 15%;
}
footer p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 15%;
}
.casa h2{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.casa p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.marime p{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;

}
.marime h4{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
footer img{
    margin-top: 100%;
    margin-left: 8%;
}
.lucrari h2{
    text-align: left;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
    
}
.lucrari h4{
    text-align: left;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.lucrari p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.size p{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  margin-left: 8%;
  letter-spacing: 1px;
 
  
  
  

}
.size h4{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
   

}
.alb h3{
    text-align: left;
        padding-bottom: 20px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: black;
        margin-top: 10px 0px;
        margin-left: 8%;
}
.alb p{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  margin-left: 8%;
  
}
.automobile h2{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.automobile p{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  margin-left: 8%;
}
.marime p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
    .lucrari h2 {
        text-align: left;
        padding-bottom: 20px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: black;
        margin-top: 10px 0px;
        margin-left: 8%;
    }
    .lucrari p{
        text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
    }
    footer img{
        margin-top: 50px;
   margin: 60px;
    margin-left: 7px;
    float: right;

    }
    .electric h3{
        text-align: left;
        padding-bottom: 20px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: black;
        margin-top: 10px 0px;
        margin-left: 8%;
    }
    .electric p{
        text-align: left;
        padding-bottom: 20px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: black;
        margin-top: 10px 0px;
        margin-left: 8%;
    }
    .electric h4{
        text-align: left;
        padding-bottom: 20px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: black;
        margin-top: 10px 0px;
        margin-left: 8%;
    }
    .electric p{
        text-align: left;
        padding-bottom: 20px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: black;
        margin-top: 10px 0px;
        margin-left: 8%;

    }
    .calculatoare h2{
        text-align: left;
        padding-bottom: 20px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: black;
        margin-top: 10px 0px;
        margin-left: 8%;
    }
    footer img{
        margin-top: 50px;
   margin: 60px;
    margin-left: 7px;
    float: right;}
    .ghilimele h1{
        font-size: 35px;
        margin-left: 35% ;
    }
    .ghilimele p{
        font-size: 13px;
        margin-left: 35%;
    }
    .ghilimele h2{
        font-size: 50px;
        margin-left: 50%;
    }
    .masina h1{
        text-align: left;
        padding-bottom: 20px;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: rgb(0, 0, 0);
        margin-top: 10px 0px;
        margin-left: 8%;
    }
    .masina p{
        text-align: left;
        padding-bottom: 20px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: black;
        margin-top: 10px 0px;
        margin-left: 8%;
    }
    .masina h2{
        font-size: 50px;
        margin-left: 50%;
    }
    .scris p{
        font-size: 13px;
        margin-left: 35%;
        height: 3px;
        
    }
    .fotovoltaic h1{
        text-align: left;
        padding-bottom: 20px;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: rgb(0, 0, 0);
        margin-top: 10px 0px;
        margin-left: 8%;
    }
.fotovoltaic p{
    text-align: left;
        padding-bottom: 20px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: black;
        margin-top: 10px 0px;
        margin-left: 8%;
}
.sintetic h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.sintetic h2{
    font-size: 50px;
        margin-left: 50%;
}
.sintetic p{
    font-size: 13px;
        margin-left: 35%;
        height: 3px;
}
.ecologic h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.ecologic p{
    text-align: left;
        padding-bottom: 20px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: black;
        margin-top: 10px 0px;
        margin-left: 8%;
}
.ecologic h2{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.reciclabil h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.reciclabil p{
    text-align: left;
        padding-bottom: 20px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: black;
        margin-top: 10px 0px;
        margin-left: 8%;
}
.verde h1{
    font-size: 35px;
        margin-left: 35% 
}
.verde p{
    font-size: 13px;
    margin-left: 35%;
    height: 3px;
}
.eoliana h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.eoliana p{
    text-align: left;
        padding-bottom: 20px;
        font-size: 17px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px;
        color: black;
        margin-top: 10px 0px;
        margin-left: 8%;
}
.fabrica h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.fabrica p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.fabrica h3{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.fabrica1 h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.fabrica1 p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.fabrica2 h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.fabrica2 p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.procent h1{
    font-size: 35px;
        margin-left: 35% 
}
.procent p{
    font-size: 13px;
    margin-left: 35%;
    height: 3px;
}
.chimie h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.chimie h2{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.chimie p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.frunza h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.frunza p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.personal h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.personal p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.tableta h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.tableta p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.last h1{
    font-size: 35px;
        margin-left: 35% 
}
.last p{
    font-size: 13px;
    margin-left: 35%;
    height: 3px;
}
.motor h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.motor h2{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.motor p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.jeep h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.jeep p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
    
}
.x5 h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.x5 p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.x5 h5{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.fata h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.fata p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.tabel{
    width: 100% ;
    background-color: ivory;
    padding: 60px 0px;
}
.tabel table{
    width: 100%;
    background-color: rgb(143, 143, 175);
   
}
.tabel table th{
    text-align-last: left;
    size: 20px;
    padding: 5px 0px;
}
.tabel table tr{
   border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
}
.tabel table td{
    color: rgb(255, 254, 254);
    padding: 7.5px 0px;
}
.vechi p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: white;
    margin-top: 10px 0px;
    margin-left: 50px;
    
    
    
}
.antic h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;
}
.antic p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}
.the h1{
    text-align: left;
    padding-bottom: 20px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    margin-top: 10px 0px;
    margin-left: 8%;

}
.the p{
    text-align: left;
    padding-bottom: 20px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: black;
    margin-top: 10px 0px;
    margin-left: 8%;
}